* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "protest riot";
}

.global {
  display: flex;
  justify-content: center;
  text-align: center;
}

#acceuil,
#galerie {
  min-height: 50vh;
}

.global > section,
.global > header,
.global > footer {
  min-width: 70vw;
  flex: 0, 1, 1100px;
  padding: 3rem 1rem;
  //background-color: rgba(103, 184, 255, var(--transparence-section));
}

.global > header {
  flex: 1;
}

#entete,
#footer {
  min-height: 20vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-avant-entete);
  position: relative;
  padding-bottom: 5vh;
}

#entete header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

#entete header div {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#entete h2 {
  padding: 10px;
}

#entete h3 {
  padding: 10px;
}

#acceuil {
  background-color: var(--couleur-arriere-acceuil);
  color: var(--couleur-avant-acceuil);
  position: relative;
  padding-bottom: 15vh;
}

#acceuil section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--couleur-avant-evenement);
}

.h2 {
  position: relative;
  top: -10vh;
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-avant-galerie);
  padding-top: 15vh;
  position: relative;
}

#galerie section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#galerie img {
  scale: 0.3;
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-avant-footer);
}
