* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "protest riot";
}

.global {
  display: flex;
  justify-content: center;
  text-align: center;
}

#acceuil,
#evenement,
#galerie {
  min-height: 40vh;
}

.global > section,
.global > header,
.global > footer {
  min-width: 70vw;
  flex: 0, 1, 900px;
  padding: 3rem 1rem;
  //background-color: rgba(103, 184, 255, var(--transparence-section));
}

#entete,
#footer {
  min-height: 20vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-avant-entete);
  position: relative;
}

#acceuil {
  background-color: var(--couleur-arriere-acceuil);
  color: var(--couleur-avant-acceuil);
  position: relative;
}

#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--couleur-avant-evenement);
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-avant-galerie);
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-avant-footer);
}
