#menu {
  background-color: var(--couleur-arriere-entete);
  display: flex;
  justify-content: center;

  @media (min-width: 700px) {
    background-color: var(--couleur-arriere-evenement);
  }
}

.menu__header {
  display: flex;
  justify-content: center;
}

.menu-principale-container {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  background-color: var(--couleur-arriere-evenement);
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  transform: translateY(-150%);
  transition: transform 0.5s;
}

#chk_burger {
  display: none;
}

#chk_burger:checked ~ .menu__header .menu-principale-container {
  transform: translateY(0);
}

#burger {
  position: absolute;
  top: 2vh;
  right: 2vw;

  @media (min-width: 700px) {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.menu-item {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--couleur-avant-evenement);
  transition: background-color 0.5s;

  @media (min-width: 700px) {
    flex: 0 0 100px;
    border: none;
    padding: 5px;
    transition: transform 0.5s;
  }
}

.menu-item:hover {
  background-color: var(--couleur-arriere-evenement);

  @media (min-width: 700px) {
    transform: scale(1.3);
  }
}

.menu-item a {
  text-decoration: none;
  color: var(--couleur-arriere-evenement);
  transition: color 0.5s;

  @media (min-width: 700px) {
  }
}

.menu-item:hover a {
  color: var(--couleur-avant-evenement);

  @media (min-width: 700px) {
  }
}
